<!DOCTYPE html>
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
<html>

<head>
    {% include "head.html" %}
    <title>Rue</title>   
</head>

<body>
    {% include "navbar.html" %}   

    <div class="content">        
        <div class="bis-container">
            <div id="bossList" class="bossList-container">
                <div class="boss">Boss name</div>
                <div class="boss">Boss name</div>
                <div class="boss">Boss name</div>
                <div class="boss">Boss name</div>
                <div class="boss">Boss name</div>
            </div>
            <div class="right-container">
                <div id="itemList" class="itemsList-container">
                    <div class="item">Item name</div>
                    <div class="item selected">Item name</div>                    
                </div>
                <div class="player-container">
                    <div id="playerList" class="playerList-container">
                        <div id="playerButton" class="player">Player name</div>
                        <div id="playerButton" class="player">Player name</div>
                        <div id="playerButton" class="player">Player name</div>
                        <div id="playerButton" class="player">Player name</div>     
                        <div id="playerButton" class="player">Player name</div>
                        <div id="playerButton" class="player">Player name</div>
                        <div id="playerButton" class="player">Player name</div>
                        <div id="playerButton" class="player">Player name</div>    
                        <div id="playerButton" class="player">Player name</div>
                        <div id="playerButton" class="player">Player name</div>
                        <div id="playerButton" class="player">Player name</div>
                        <div id="playerButton" class="player">Player name</div>    
                        <div id="playerButton" class="player">Player name</div>
                        <div id="playerButton" class="player">Player name</div>
                        <div id="playerButton" class="player">Player name</div>
                        <div id="playerButton" class="player">Player name</div>    
                        <div id="playerButton" class="player">Player name</div>
                        <div id="playerButton" class="player">Player name</div>
                        <div id="playerButton" class="player">Player name</div>
                        <div id="playerButton" class="player">Player name</div>                   
                    </div>
                    <div id="pickItemContainer" class="pickItem-container hide">                        
                        <input id="itemLevelInputText" type="text" placeholder="Texto nota..." name="itemLevelInputText">
                        <button id="addItem">Añadir nota</button>
                        <button id="removeItem">Borrar nota</button>
                    </div>
                </div>
                
            </div>
        </div>       
    </div>
    <!--====== js ======-->
    {% include "js.html" %}   
    <script>

        {% if errorLogin %}
            // Mostrar un alert de error
            alert('¡Usuario o contraseña incorrectos!');
        {% endif %}

        var bossesJsonString = "{{ bosses }}";  
        var itemsPickedJsonString = "{{ itemsPicked }}"; 
        var loggedAsAdmin = "{{ logged}}"; 
    </script>
    <script src="{{ STATIC_PREFIX }}js/bisView.js"></script>
    <script src="{{ STATIC_PREFIX }}js/navBar.js"></script>
    <!--====== End js ======-->

</body>

</html>