<!DOCTYPE html>
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
<html>

<head>
    {% include "head.html" %}
    <link rel="stylesheet" href="{{ STATIC_PREFIX }}css/general.css">
    <link rel="stylesheet" href="{{ STATIC_PREFIX }}css/playerBisListView.css">
    <title>Rue</title>   
</head>

<body>
    <div class="navbar">    
        <h1>Rue Del Percebe</h1>
        {% if not logged %}             
            <form id="loginForm" class="right-container" action="/bisWeb/login" method="post">
                {% csrf_token %}
                <input type="hidden" name="errorRedirectURL" value="playerBisListView">
                <button id="bisViewButton" type="button">Lista BiS</button>                
                <input id="usernameInputText" type="text" placeholder="Usuario" name="username">
                <input id="passWordInputText" type="password" placeholder="Contraseña" name="password">
                <button id="iniciarSesionButton" type="submit">Iniciar Sesión</button>
            </form>
        {% else %}
            <div class="right-container">
                <p>Logged as {{username}}</p>              
                <button id="bisViewButton" type="button">Lista BiS</button>   
                <button id="panelControlButton" type="button">Panel de Control</button>    
                <button id="salirSesionButton" type="button">Salir Sesión</button>
            </div>
        {% endif %}
    </div>
    <div class="background-container"></div>
    <div class="content">        
        <div class="bis-container">
            <div id="playerList" class="playerList-container">
               
            </div>
            <div class="right-container">
                <div id="bossList" class="bossList-container">
                                  
                </div>
                <div id="itemList" class="itemList-container">
                       
                </div>  
                
            </div>
        </div>       
    </div>
    <!--====== js ======-->
    {% include "js.html" %}   
    <script>

        {% if errorLogin %}
            // Mostrar un alert de error
            alert('¡Usuario o contraseña incorrectos!');
        {% endif %}

        var bossesJsonString = "{{ bosses }}";        
        var loggedAsAdmin = "{{ logged}}"; 
    </script>
    <script src="{{ STATIC_PREFIX }}js/playerBisListView.js"></script>
    <script src="{{ STATIC_PREFIX }}js/navBar.js"></script>
    <!--====== End js ======-->

</body>

</html>